<h5><__trans phrase="Tags Load:"></h5>
<mtapp:setting id="load_blogs" label="<__trans phrase="Tags Load From:">">
    <input type="radio" name="load_blogs" value="1"<mt:if name="load_blogs" eq="1"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="All">&nbsp;
    <input type="radio" name="load_blogs" value="2"<mt:if name="load_blogs" eq="2"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Sibling">&nbsp;
    <input type="radio" name="load_blogs" value="0"<mt:unless name="load_blogs"> checked="checked"</mt:unless> />
    &nbsp;<__trans phrase="Blog">&nbsp;
</mtapp:setting>

<h5><__trans phrase="Tags Load for Entry:"></h5>
<mtapp:setting id="load_type_for_entry" label="<__trans phrase="Tags Load For:">">
    <input type="checkbox" name="enable_entry" value="1"<mt:if name="enable_entry"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Enable Entry">&nbsp;
</mtapp:setting>
<mtapp:setting id="datasources_for_entry" label="<__trans phrase="Tags Load By:">">
    <input type="checkbox" name="entry_tags_for_entry" value="1"<mt:if name="entry_tags_for_entry"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Entry Tags">&nbsp;
    <input type="checkbox" name="page_tags_for_entry" value="1"<mt:if name="page_tags_for_entry"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Page Tags">&nbsp;
    <input type="checkbox" name="asset_tags_for_entry" value="1"<mt:if name="asset_tags_for_entry"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Asset Tags">&nbsp;
</mtapp:setting>

<h5><__trans phrase="Tags Load for Page:"></h5>
<mtapp:setting id="load_type_for_page" label="<__trans phrase="Tags Load For:">">
    <input type="checkbox" name="enable_page" value="1"<mt:if name="enable_page"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Enable Page">&nbsp;
</mtapp:setting>
<mtapp:setting id="datasources_for_page" label="<__trans phrase="Tags Load By:">">
    <input type="checkbox" name="entry_tags_for_page" value="1"<mt:if name="entry_tags_for_page"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Entry Tags">&nbsp;
    <input type="checkbox" name="page_tags_for_page" value="1"<mt:if name="page_tags_for_page"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Page Tags">&nbsp;
    <input type="checkbox" name="asset_tags_for_page" value="1"<mt:if name="asset_tags_for_page"> checked="checked"</mt:if> />
    &nbsp;<__trans phrase="Asset Tags">&nbsp;
</mtapp:setting>
